@import './general.module.less';

.tag {
  border-radius: 1px;
  padding: 0 .4rem;
  margin-right: .2rem;
  box-shadow: 0 0 .2em #d1d1d1;
  background-color: white;
  cursor: pointer;
  user-select: none;
  &:hover {
    box-shadow: .1em .1em 1em darkgray;
  }
}